<!DOCTYPE html>
<html class="<%= theme %>" lang="en" id="html">
<head>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="icon" rel="apple-touch-icon" href="/public/favicon.ico">
    <%- include('../meta/index', { title: 'Reset Password' }); %>
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <%- include('../meta/nav'); %>
    <h1 class="font-bold text-3xl text-center my-2 mx-2 dark:text-white">Reset Account Password</h1>
    <div class="w-fit m-auto dark:text-white"><% if (!co) {%>
        <form class="m-auto" id="form">
            <div class="hidden" role="alert" id="error"></div>
            <input type="text" class="hidden" id="hiddenCode" name="code_VR" value="<% if (code) {%><%=code%><%}%>">
            <div class="mb-3">
              <label for="emailReset" class="form-label">E-Mail Address</label>
              <input type="email" class="form-control" id="emailReset" aria-describedby="emailReset" name="email_VR" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label for="InputTFA1" class="form-label">2FA Code</label>
                <input type="text" class="form-control" id="InputTFA1" maxlength="6" placeholder="Google Auth Code (Optional)" autocomplete="off" name="TFA_VR">
            </div>
            <div class="w-fit m-auto"><button type="submit" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="register_button">Start Recovery Process</button></div>
            <div class="my-2"></div>
            <img id="loading" src="/public/i/assets/radar_loading.svg" width="84" height="84" class="hidden" draggable="false">
        </form><%} else {%>
        <form class="m-auto" id="form">
            <div class="hidden" role="alert" id="error"></div>
            <input type="text" class="hidden" id="hiddenCode" name="code_VR" value="<% if (code) {%><%=code%><%}%>"><% if (co) {%>
            <input type="text" class="hidden" id="hiddenAuthCode" name="AuthCode_VR" value="<% if (co) {%><%=co.code%><%}%>"><%}%>
            <div class="mb-3">
              <label for="passReset" class="form-label">New Password</label>
              <input type="password" class="form-control" id="passReset" aria-describedby="passReset" name="password_VR" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label for="repeat" class="form-label">Repeat New Password</label>
                <input type="password" class="form-control" id="repeat" autocomplete="off" name="conf_pass_VR">
            </div>
            <div class="w-fit m-auto"><button type="submit" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="register_button">Reset Password</button></div>
            <div class="my-2"></div>
            <img id="loading" src="/public/i/assets/radar_loading.svg" width="84" height="84" class="hidden" draggable="false">
        </form><%}%>
    </div>
</body>
<script defer>
    $('#form').submit(function (e) {
        e.preventDefault();
        const formData = new URLSearchParams(new FormData(this));

        $('#error').text('');
        $('#error').toggleClass(false);
        let loading = document.getElementById('loading');

        fetch(`/api/v1/reset-password<% if (co) {%>/conf?uuid=<%=co.uuid%><%}%>`, { method: 'post', body: formData }).then((r)=>r.json()).then((b)=>{
            loading.setAttribute('class', 'hidden');
            if (b.OK) {
                console.log(b);
                $('#error').text(b.text);
                $('#error').addClass('alert alert-success break-normal my-1 text-center');
            } else {
                $('#error').text(b.error);
                $('#error').addClass('alert alert-danger break-normal my-1 text-center');
            };
        });
    
        loading.setAttribute('class', 'm-auto mt-1');
    });
</script>
</html>