<!DOCTYPE html>
<html class="<%= theme %>" lang="en" id="html">
<head>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="icon" rel="apple-touch-icon" href="/public/favicon.ico">
    <%- include('../meta/index', { title: 'Admin Dashboard' }); %>
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <%- include('../meta/nav'); %>
    <div id="editDisplay" class="">
      <h1 class="font-bold text-4xl text-center my-2 mx-2 dark:text-white"><%=view.name%>'s dashboard: </h1>
      <div class="w-[85%] lg:w-1/2 m-auto break-words p-2 text-lg"><% if (view.pro) {%>
          <div class="m-auto" data-bs-toggle="modal" data-bs-target="#changeBANNER"><img src="/banner/<%= view.uuid %>" class="m-auto rounded object-fill lg:w-[400px] h-[140px] text-center" draggable="false" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Click to change banner" alt="Click to change banner"></div><%}%>
          <div class="w-fit m-auto rounded-full hover:cursor-pointer dark:text-white" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Click to change avatar"><img src="/avatar/<%= view.uuid %>" class="w-[128px] h-[128px] rounded-full border-[2px] border-black mb-4 <% if (view.banner !== '') {%> -mt-[85px]<%}%>" draggable="false" data-bs-toggle="modal" data-bs-target="#changePFP"></div>
          <hr class="w-1/2 m-auto dark:text-white dark:p-[1px]"/>
          <div class="hidden" role="alert" id="error"></div>
          <div class="w-fit m-auto p-1 font-bold">
            <p class="w-fit m-auto">Last Login: <time data-time="<%=view.last_login%>"></time></p>
            <p class="w-fit m-auto">Created At: <time data-time="<%=view.createdAt%>"></time></p>
            <div class="flex flex-auto gap-2 w-fit m-auto">
              <p class="w-fit m-auto">Is banned: <a href="/api/admin/block_user/<%=view.name%>?type=blocked" class="w-fit m-auto hover:underline hover:text-current"><%=view.blocked%></a></p>
              <p class="w-fit m-auto">Is Pro User: <a href="/api/admin/upgrade_plan/<%=view.name%>?plan=<% if (view.pro) {%>free<%} else {%>pro&admin_gift=true&years=1<%}%>" class="w-fit m-auto hover:underline hover:text-current"><%=view.pro%></a></p>
              <p class="w-fit m-auto">Is 2FA Enabled: <% if (view.TFA) {%>true<%} else {%>false<%}%></p>
            </div>
            <div class="flex flex-auto gap-2 w-fit m-auto">
              <p class="w-fit m-auto">Subdomain allowed: <a href="/api/admin/allow_subdomain/<%=view.name%>?admin_gift=true&years=1" class="w-fit m-auto hover:underline hover:text-current"><%=view.subdomain%></a></p>
              <p class="w-fit m-auto" data-bs-toggle="modal" data-bs-target="#createRec">Create Receipt</p>
            </div>
            <div class="w-fit p-4 m-auto flex flex-wrap gap-2 dark:text-white">
              <% if (view.connectedUser && view.connectedUser.length > 0) { view.connectedUser.forEach((elm) => {%>
                <div class="w-fit m-auto dark:text-white">
                    <a href="/<%=elm.user.name%>" class="hover:text-current hover:underline" target="_blank"><img src="/avatar/<%=elm.user.uuid%>" class="rounded-full w-[64px] h-[64px] object-fill m-auto align-middle mb-1 border-black border-2 dark:border-white" draggable="false">
                    <p class="text-2xl align-middle w-fit m-auto"><% if (elm.user.name !== '') {%>@<%=elm.user.name%><%}%><% if (elm.user.displayName == '' && elm.user.name == '') {%><%=elm.user.uuid%><%}%></p></a>
                </div><%})} else {%>
                <div class="w-fit m-auto dark:text-white">
                    <p class="text-2xl align-middle">No connected users found...</p>
                </div><%}%>
            </div>
          </div>
          <div class="my-2"></div><% if (view.verified) {%>
          <form id="mainUpdate-form" class="p-1 m-auto w-full sm:w-[75%]">
              <div class="flex flex-auto gap-2 w-fit m-auto" id="mainSett">
                  <div class="form-floating mb-2 break-words">
                      <input type="text" class="form-control" placeholder="Update your display name" id="updateDisplay" name="display_vr" value="<%=view.displayName%>" autocomplete="off"></input>
                      <label for="updateDisplay">Display</label>
                  </div>
                  <div class="form-floating mb-2 break-words">
                      <input type="text" class="form-control" placeholder="Update your username" id="updateUsername" name="name_vr" value="<%=view.name%>" autocomplete="off"></input>
                      <label for="updateUsername">Username</label>
                  </div>
                  <div class="form-floating mb-2 break-words">
                      <input type="text" class="form-control" placeholder="Update your location" id="updateLocation" name="location_vr" value="<%=view.location%>" autocomplete="off"></input>
                      <label for="updateLocation">Location</label>
                  </div>
                  <div class="form-floating mb-2 break-words">
                      <input type="text" class="form-control" placeholder="Update your bio" id="updateBio" name="bio_vr" value="<%=view.bio%>" autocomplete="off"></input>
                      <label for="updateBio">Bio</label>
                  </div><% if (view.pro) {%>
                  <div class="mt-3">
                      <div class="form-check form-switch w-fit m-auto"><% if (view.theme !== "dark") {%>
                          <input class="form-check-input" type="checkbox" role="switch" id="updateTheme" name="darktheme_vr"><%} if (view.theme == "dark") {%>
                          <input class="form-check-input" type="checkbox" role="switch" id="updateTheme" name="darktheme_vr" checked><%}%>
                          <label class="form-check-label dark:text-white" for="updateTheme">Dark mode</label>
                      </div>
                  </div><%}%>
              </div>
              <div class="hidden" id="miscSett">
                <div class="form-floating mb-2 break-words">
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="pronounGroup">Pronouns</label>
                    <select class="form-select" id="pronounGroup" name="pronouns_vr">
                      <option>Unspecified...</option><% let pronoun = [ "hh", "hi", "hs", "ht", "ih", "ii", "is", "it", "shh", "sh", "si", "st", "th", "ti", "ts", "tt", "any", "other", "ask", "avoid" ]; pronoun.forEach((elm) => {%><% let short; if (elm == 'hh') { short = 'he/him' }; if (elm == 'hi') { short = 'he/it' }; if (elm == 'hs') { short = 'he/she' }; if (elm == 'ht') { short = 'he/they' }; if (elm == 'ih') { short = 'it/him' }; if (elm == 'ii') { short = 'it/its' }; if (elm == 'is') { short = 'it/she' }; if (elm == 'it') { short = 'it/they' }; if (elm == 'shh') { short = 'she/he' }; if (elm == 'sh') { short = 'she/her' }; if (elm == 'si') { short = 'she/it' }; if (elm == 'st') { short = 'she/they' }; if (elm == 'th') { short = 'they/he' }; if (elm == 'ti') { short = 'they/it' }; if (elm == 'ts') { short = 'they/she' }; if (elm == 'tt') { short = 'they/them' }; if (elm == 'any') { short = 'Any pronouns' }; if (elm == 'other') { short = 'Other pronouns' }; if (elm == 'ask') { short = 'Please ask' }; if (elm == 'avoid') { short = 'Avoid pronouns' }; if (short !== view.pronouns) {%>
                      <option value="<%=elm%>"><%=short%></option><%} else {%>
                      <option value="<%=elm%>" selected><% if (elm == 'hh') { elm = 'he/him' }; if (elm == 'hi') { elm = 'he/it' }; if (elm == 'hs') { elm = 'he/she' }; if (elm == 'ht') { elm = 'he/they' }; if (elm == 'ih') { elm = 'it/him' }; if (elm == 'ii') { elm = 'it/its' }; if (elm == 'is') { elm = 'it/she' }; if (elm == 'it') { elm = 'it/they' }; if (elm == 'shh') { elm = 'she/he' }; if (elm == 'sh') { elm = 'she/her' }; if (elm == 'si') { elm = 'she/it' }; if (elm == 'st') { elm = 'she/they' }; if (elm == 'th') { elm = 'they/he' }; if (elm == 'ti') { elm = 'they/it' }; if (elm == 'ts') { elm = 'they/she' }; if (elm == 'tt') { elm = 'they/them' }; if (elm == 'any') { elm = 'Any pronouns' }; if (elm == 'other') { elm = 'Other pronouns' }; if (elm == 'ask') { elm = 'Ask for my pronouns' }; if (elm == 'avoid') { elm = 'Avoid pronouns, use my name' }; %><%=elm%></option><%}})%>
                    </select>
                  </div>
                </div>
                <div class="form-floating mb-2 break-words">
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="borderGroup">Border</label>
                    <select class="form-select" id="borderGroup" name="border_vr">
                      <option value="none">None</option><% let border = [ "lesbian", "gay", "bisexual", "trans", "queer", "intersex", "asexual", "agender", "aroace", "nonbinary", "polyamorous", "poly", "gaymale", "gayfemale", "genderqueer", "omni" ]; border.forEach((elm) => { let short; if (elm == 'lesbian') short = 'Lesbian'; if (elm == 'gay') short = 'Gay'; if (elm == 'bisexual') short = 'Bisexual'; if (elm == 'trans') short = 'Trans'; if (elm == 'queer') short = 'Queer'; if (elm == 'intersex') short = 'Intersex'; if (elm == 'asexual') short = 'Asexual'; if (elm == 'agender') short = 'Agender'; if (elm == 'aroace') short = 'Aroace'; if (elm == 'nonbinary') short = 'Non-Binary'; if (elm == 'polyamorous') short = 'Polyamorous'; if (elm == 'poly') short = 'Poly'; if (elm == 'gaymale') short = 'Gay Male'; if (elm == 'gayfemale') short = 'Gay Female'; if (elm == 'genderqueer') short = 'Genderqueer'; if (elm == 'omni') short = 'Omni'; if (elm !== view.personal_border) {%>
                      <option value="<%=elm%>"><%=short%></option><%} else {%><option value="<%=elm%>" selected><%=short%></option><%}})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="w-min m-auto mt-2">
                <div class="flex flex-auto gap-2">
                  <button type="button" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" onclick="miscDisplay()" id="misc_button">Other</button>
                  <button type="submit" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="register_button">Submit</button>
                </div>
                <div class="my-2"></div>
                <img id="loading" src="/public/i/assets/radar_loading.svg" width="84" height="84" class="hidden" draggable="false">
              </div>
          </form>
          <div class="my-3"></div>
          <div class="p-8 m-auto flex flex-wrap gap-2"><% if (links) { links.sort((a, b) => { return a.order - b.order }); links.forEach(elm => {%>
              <div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white dark:border-white rounded-lg w-[85%] lg:w-[320px] text-center m-auto p-4">
                  <a class="hover:text-current font-bold<% if (elm.highlight) {%> animate-pulse<%}%>" href="/l/<%=elm.id%>" title="<%=elm.link%>" target="_blank"><div class="w-fit m-auto">
                      <img src="/favicon/<%=elm.id%>" class="w-[75px] h-[75px] rounded hover:scale-110" style="vertical-align:middle; transition: 200ms;" draggable="false">
                  </div>
                  <div class="m-auto break-full">
                      <%=elm.title%><% if (elm.subtitle !== "") {%>
                      <span class="text-gray-700 dark:text-gray-400 figure-caption"><%=elm.subtitle%></span><%}%>
                  </div></a>
                  <div class="w-full md:w-fit justify-center m-auto flex flex-wrap gap-2">
                      <input type="text" class="hidden" name="dismiss_vr" value="<%=elm.uuid%>">
                      <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Remove"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-square-fill align-middle mt-1 m-auto w-fit hover:cursor-pointer" id="<%=elm.uuid%>-dismiss" onclick="dismiss('<%=elm.uuid%>')" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/></svg></span>
                      <input type="text" class="hidden" name="edit_vr" value="<%=elm.uuid%>">
                      <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square align-middle mt-1 m-auto w-fit hover:cursor-pointer" draggable="false" data-bs-toggle="modal" data-bs-target="#edit-<%=elm.uuid%>" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg></span>
                  </div>
              </div>
              <form id="<%=elm.uuid%>-form">
                  <div class="modal fade" id="edit-<%=elm.uuid%>" tabindex="-1" aria-labelledby="edit-<%=elm.uuid%>" aria-hidden="true">
                      <div class="modal-dialog my-8 md:my-2">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-black" id="editModalLabel">Edit Link <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                          <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                        </div>
                        <div class="modal-body text-black">
                          <div id="errorLi-<%=elm.uuid%>" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                          <div class="form-row align-items-center">
                            <div class="form-row align-items-center">
                              <div class="col-auto" style="width: 75%; margin: auto;">
                                  <div class="form-floating mb-2 break-all">
                                      <input type="url" class="form-control" placeholder="Link" id="editLink" name="url_vr" value="<%=elm.link%>" autocomplete="off"></input>
                                      <label for="addTitle">Link</label>
                                  </div>
                                  <div class="form-floating mb-2 break-all">
                                      <input type="text" class="form-control" placeholder="Title" id="addTitle" name="title_vr" value="<%=elm.title%>" autocomplete="off"></input>
                                      <label for="addTitle">Title</label>
                                  </div>
                                  <div class="form-floating mb-2 break-all">
                                      <input type="text" class="form-control" placeholder="Subtitle" id="addSubtitle" name="subtitle_vr" value="<%=elm.subtitle%>" autocomplete="off"></input>
                                      <label for="addSubtitle">Subtitle</label>
                                  </div>
                                  <div class="form-floating mb-2 break-all">
                                      <input type="text" class="form-control" placeholder="Order" id="addOrder" name="order_vr" value="<%=elm.order%>" autocomplete="off"></input>
                                      <label for="addOrder">Order</label>
                                  </div><% if (view.pro) {%>
                                  <div class="form-check form-switch w-fit m-auto">
                                      <% if (!elm.highlight) {%><input class="form-check-input" type="checkbox" role="switch" id="highlight-linkEdit" name="highlight_vr"><%}%>
                                      <% if (elm.highlight) {%><input class="form-check-input" type="checkbox" role="switch" id="highlight-linkEdit" name="highlight_vr" checked><%}%>
                                      <label class="form-check-label" for="highlight-linkEdit">Highlight</label>
                                  </div>
                                  <div class="form-check form-switch w-fit m-auto" id="edit-ll2-<%=elm.uuid%>">
                                    <% if (!elm.limitClicks) {%><input class="form-check-input" type="checkbox" role="switch" id="limit-linkEdit" name="llC" onclick="editClicks('<%=elm.uuid%>')"><%}%>
                                    <% if (elm.limitClicks) {%><input class="form-check-input" type="checkbox" role="switch" id="limit-linkEdit" name="llC" onclick="editClicks('<%=elm.uuid%>')" checked><%}%>
                                    <label class="form-check-label" for="highlight-linkEdit">Limit Clicks</label>
                                  </div>
                                  <div class="<% if (!elm.limitClicks) {%>hidden<%} else {%>form-floating mb-2 break-all w-fit m-auto mt-2<%}%>" id="edit-ll-<%=elm.uuid%>">
                                    <input type="number" class="form-control" placeholder="1" id="limit-edit" name="limit_vr" value="<%=elm.limitClick%>" autocomplete="off"></input>
                                    <label class="form-check-label dark:text-white" for="limit-edit">Limit Clicks</label>
                                  </div><%}%>
                              </div>
                            </div>
                            <div class="w-fit m-auto">
                              <div class="hidden" id="Lispinner-<%=elm.uuid%>" role="status">
                                  <span class="visually-hidden">Loading...</span>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              <%})}%>
          </div><%}%>
  
          <form id="avatar-form">
              <div class="modal fade" id="changePFP" tabindex="-1" aria-labelledby="changePFPModalLabel" aria-hidden="true">
                  <div class="modal-dialog my-8 md:my-2">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black" id="editModalLabel">Edit Avatar <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                      <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                    </div>
                    <div class="modal-body text-black">
                      <div id="errorAv" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                      <div class="form-row align-items-center">
                        <div class="form-row align-items-center">
                          <div class="col-auto" style="width: 75%; margin: auto;">
                            <label class="sr-only" for="AvatarFile">Avatar</label>
                            <input type="file" class="form-control" id="AvatarFile" name="pfp" accept="image/*">
                            <div class="my-1"></div>
                          </div>
                        </div>
                        <div class="hidden" id="AVspinner" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form id="banner-form">
              <div class="modal fade" id="changeBANNER" tabindex="-1" aria-labelledby="changeBANNERModalLabel" aria-hidden="true">
                  <div class="modal-dialog my-8 md:my-2">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black" id="editModalLabel">Edit Banner <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                      <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                    </div>
                    <div class="modal-body text-black">
                      <div id="errorBn" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                      <div class="form-row align-items-center">
                        <div class="form-row align-items-center">
                          <div class="col-auto" style="width: 75%; margin: auto;">
                            <label class="sr-only" for="BannerFile">Banner</label>
                            <input type="file" class="form-control" id="BannerFile" name="banner" accept="image/*">
                            <div class="my-1"></div>
                          </div>
                        </div>
                        <div class="hidden" id="BNspinner" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form id="rec-form">
              <div class="modal fade" id="createRec" tabindex="-1" aria-labelledby="createRecModalLabel" aria-hidden="true">
                  <div class="modal-dialog my-8 md:my-2">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black" id="editModalLabel">Create Receipt <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                      <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                    </div>
                    <div class="modal-body text-black">
                      <div id="errorRec" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                      <div class="form-row align-items-center">
                        <div class="form-row align-items-center">
                          <div class="col-auto" style="width: 75%; margin: auto;">
                            <label class="input-group-text" for="typeGroup">Plans</label>
                            <select class="form-select mb-2" id="typeGroup" name="type_vr">
                              <option value="pro">Pro Plan</option>
                              <option value="subdomain">Subdomain</option>
                            </select>
                            <div class="form-floating mb-2 break-all">
                              <input type="text" class="form-control" placeholder="1 Year" id="Years" name="years_vr" value="1" autocomplete="off" required></input>
                              <label for="Years">Years</label>
                            </div>
                          </div>
                        </div>
                        <div class="w-fit m-auto">
                          <div class="hidden" id="Recspinner" role="status"><span class="visually-hidden">Loading...</span></div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Create</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
      </div>
    </div>
    <script defer>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        $('time').each(function (e) {
            time = parseInt($(this).attr('data-time'));
            time = new Date(time).toLocaleString();
            $(this).html(time);
        });
        
        function miscDisplay() {
            let main = document.getElementById('mainSett');
            let misc = document.getElementById('miscSett');
            let change = misc.getAttribute('class');
            
            if (change == "hidden") {
              main.setAttribute('class', 'hidden');
              misc.setAttribute('class', 'flex flex-auto gap-2 w-fit m-auto');
            };
            if (change !== "hidden") {
              misc.setAttribute('class', 'hidden');
              main.setAttribute('class', 'flex flex-auto gap-2 w-fit m-auto');
            };
        };

        $('#mainUpdate-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));

            $('#error').text('');
            $('#error').toggleClass(false);
            let loading = document.getElementById('loading');

            fetch(`/api/admin/account/edit?uuid=<%=view.uuid%>`, { method: 'post', body: formData }).then((r)=>r.json()).then((b)=>{
                loading.setAttribute('class', 'hidden');
                if (b.OK) {
                    console.log(b);
                    window.location.assign(`/<%=view.uuid%>/edit`);
                } else {
                    $('#error').text(b.error);
                    $('#error').addClass('alert alert-danger break-normal my-1 text-center');
                };
            });
    
            loading.setAttribute('class', 'm-auto mt-1');
        });

        $('#avatar-form').submit(function (e) {
            e.preventDefault();
            const formData = new FormData();
            let d = document.getElementById('AvatarFile');
            let av = document.getElementById('AVspinner');
            let dd = new FileReader();
            formData.append("pfp", d.files[0]);

            av.setAttribute('class', 'm-auto spinner-border');
            fetch('/api/admin/account/edit/avatar?uuid=<%=view.uuid%>', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
              $('#errorAv').text('');
              $('#error').toggleClass(false);
              av.setAttribute('class', 'hidden');
              if (w.OK) {
                $('#errorAv').text(w.text);
                $('#errorAv').addClass('alert alert-success my-1');
              } else {
                $('#errorAv').text(w.error);
                $('#errorAv').addClass('alert alert-danger my-1');
              }
            }).catch(e => {
              console.log(e);
              $('#errorAv').text(e);
              $('#errorAv').addClass('alert alert-danger my-1');
            });
        });<% if (view.pro) {%>
        $('#banner-form').submit(function (e) {
            e.preventDefault();
            const formData = new FormData();
            let d = document.getElementById('BannerFile');
            let av = document.getElementById('BNspinner');
            let dd = new FileReader();
            formData.append("banner", d.files[0]);

            av.setAttribute('class', 'm-auto spinner-border');
            fetch('/api/admin/account/edit/banner?uuid=<%=view.uuid%>', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
              $('#errorBn').text('');
              $('#error').toggleClass(false);
              av.setAttribute('class', 'hidden');
              if (w.OK) {
                $('#errorBn').text(w.text);
                $('#errorBn').addClass('alert alert-success my-1');
              } else {
                $('#errorBn').text(w.error);
                $('#errorBn').addClass('alert alert-danger my-1');
              }
            }).catch(e => {
              console.log(e);
              $('#errorBn').text(e);
              $('#errorBn').addClass('alert alert-danger my-1');
            });
        });<%}%>
        $('#rec-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));
            let av = document.getElementById('Recspinner');

            av.setAttribute('class', 'm-auto spinner-border');
            fetch('/api/admin/receipt/<%=view.uuid%>', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
              $('#errorRec').text('');
              $('#errorRec').toggleClass(false);
              av.setAttribute('class', 'hidden');
              if (w.OK) {
                $('#errorRec').text(w.text);
                $('#errorRec').addClass('alert alert-success my-1');
              } else {
                $('#errorRec').text(w.error);
                $('#errorRec').addClass('alert alert-danger my-1');
              }
            }).catch(e => {
              console.log(e);
              $('#errorRec').text(e);
              $('#errorRec').addClass('alert alert-danger my-1');
            });
        });<% if (links) {%>
        function dismiss(uuid) {
            fetch(`/api/admin/remove_url/${uuid}`, { method: 'get' }).then((r)=>r.json()).then((w)=>{
                $('#error').text('');
                $('#error').toggleClass(false);
                console.log(w.error);
                if (!w.error) {
                  if (w.OK) return window.location.reload();
                } else {
                  $('#error').text(w.error);
                  $('#error').addClass('alert alert-danger m-auto my-2 w-fit');
                }
            }).catch(e => {
              console.log(e);
              window.location.assign('/dashboard');
            });
        };<% links.forEach((elm) => {%>
        $('#<%=elm.uuid%>-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));
            let av = document.getElementById('Lispinner-<%=elm.uuid%>');

            av.setAttribute('class', 'spinner-border');
            fetch('/api/admin/edit_url/<%=view.uuid%>?uuid=<%=elm.uuid%>', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
              $('#errorLi-<%=elm.uuid%>').text('');
              $('#error').toggleClass(false);
              av.setAttribute('class', 'hidden');
              if (w.OK) {
                $('#errorLi-<%=elm.uuid%>').text(w.text);
                $('#errorLi-<%=elm.uuid%>').addClass('alert alert-success my-1');
              } else {
                $('#errorLi-<%=elm.uuid%>').text(w.error);
                $('#errorLi-<%=elm.uuid%>').addClass('alert alert-danger my-1');
              }
            }).catch(e => {
              console.log(e);
              $('#errorLi-<%=elm.uuid%>').text(e);
              $('#errorLi-<%=elm.uuid%>').addClass('alert alert-danger my-1');
            });
        });<% if (acc.pro) {%>
        $('#<%=elm.uuid%>-fav-form').submit(function (e) {
          e.preventDefault();
          const formData = new FormData();
          let d = document.getElementById('FaviconFile-<%=elm.uuid%>');
          let av = document.getElementById('Favspinner-<%=elm.uuid%>');
          let dd = new FileReader();
          formData.append("favicon", d.files[0]);

          av.setAttribute('class', 'm-auto spinner-border');
          fetch('/api/admin/edit_url/<%=view.uuid%>/icon?uuid=<%=elm.uuid%>', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
            $('#errorFav-<%=elm.uuid%>').text('');
            $('#errorFav-<%=elm.uuid%>').toggleClass(false);
            av.setAttribute('class', 'hidden');
            if (w.OK) {
              document.getElementById('faviconImage').src = `/favicon/<%=elm.id%>?time=${Date.now()}`;
              $('#errorFav-<%=elm.uuid%>').text(w.text);
              $('#errorFav-<%=elm.uuid%>').addClass('alert alert-success my-1');
            } else {
              $('#errorFav-<%=elm.uuid%>').text(w.error);
              $('#errorFav-<%=elm.uuid%>').addClass('alert alert-danger my-1');
            }
          }).catch(e => {
            console.log(e);
            $('#errorFav-<%=elm.uuid%>').text(e);
            $('#errorFav-<%=elm.uuid%>').addClass('alert alert-danger my-1');
          });
        });<%}})}%>
    </script>
</body>
</html>