<!DOCTYPE html>
<html class="<%= theme %>" lang="en" id="html">
<head>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="icon" rel="apple-touch-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/css/pride.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Black+Ops+One&family=Caveat&family=Kanit:wght@300&family=Oswald:wght@300;400&family=Poppins:wght@300;400&family=Press+Start+2P&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
    <%- include('../meta/index', { title: 'Dashboard' }); %>
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <%- include('../meta/nav'); %>
    <div id="editDisplay" class="">
      <h1 class="font-bold text-4xl text-center my-2 mx-2 dark:text-white">Your dashboard: <div class="w-fit m-auto text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search mt-2 hover:cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Preview page" onclick="previewDisplay()" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/> </svg></div></h1>
      <div class="w-[85%] lg:w-1/2 m-auto break-words p-2 text-lg"><% if (acc.pro) {%>
          <div class="m-auto w-fit hover:cursor-pointer" data-bs-toggle="modal" data-bs-target="#changeBANNER"><img src="/banner/<%= acc.uuid %>" class="m-auto rounded object-fill lg:w-[400px] h-[140px] text-center" draggable="false" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Click to change banner" alt="Click to change banner"></div><%}%>
          <div class="w-fit m-auto rounded-full hover:cursor-pointer dark:text-white" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Click to change avatar"><img src="/avatar/<%= acc.uuid %>" class="w-[128px] h-[128px] rounded-full border-[2px] border-black mb-4 <% if (acc.banner !== '') {%> -mt-[85px]<%}%>" draggable="false" data-bs-toggle="modal" data-bs-target="#changePFP"></div>
          <hr class="w-1/2 m-auto dark:text-white dark:p-[1px]"/>
          <div class="hidden" role="alert" id="error"></div>
          <div class="my-2"></div><% if (acc.verified) {%>
          <form id="mainUpdate-form" class="p-1 m-auto w-full sm:w-[75%]">
              <div class="flex flex-auto gap-2 w-fit m-auto" id="mainSett">
                  <div class="form-floating mb-2 break-words">
                      <input type="text" class="form-control" placeholder="Update your display name" id="updateDisplay" name="display_vr" value="<%=acc.displayName%>" autocomplete="off"></input>
                      <label for="updateDisplay">Display</label>
                  </div>
                  <div class="form-floating mb-2 break-words">
                      <input type="text" class="form-control" placeholder="Update your username" id="updateUsername" name="name_vr" value="<%=acc.name%>" autocomplete="off"></input>
                      <label for="updateUsername">Username</label>
                  </div>
                  <div class="form-floating mb-2 break-words">
                      <input type="text" class="form-control" placeholder="Update your location" id="updateLocation" name="location_vr" value="<%=acc.location%>" autocomplete="off"></input>
                      <label for="updateLocation">Location</label>
                  </div>
                  <div class="form-floating mb-2 break-words">
                      <input type="text" class="form-control" placeholder="Update your bio" id="updateBio" name="bio_vr" value="<%=acc.bio%>" autocomplete="off"></input>
                      <label for="updateBio">Bio</label>
                  </div><% if (acc.pro) {%>
                  <div class="mt-3">
                      <div class="form-check form-switch w-fit m-auto"><% if (acc.theme !== "dark") {%>
                          <input class="form-check-input" type="checkbox" role="switch" id="updateTheme" name="darktheme_vr"><%} if (acc.theme == "dark") {%>
                          <input class="form-check-input" type="checkbox" role="switch" id="updateTheme" name="darktheme_vr" checked><%}%>
                          <label class="form-check-label dark:text-white" for="updateTheme">Dark mode</label>
                      </div>
                  </div><%}%>
              </div>
              <div class="hidden" id="miscSett">
                <div class="form-floating mb-2 break-words">
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="pronounGroup">Pronouns</label>
                    <select class="form-select" id="pronounGroup" name="pronouns_vr">
                      <option>Unspecified...</option><% let pronoun = [ "hh", "hi", "hs", "ht", "ih", "ii", "is", "it", "shh", "sh", "si", "st", "th", "ti", "ts", "tt", "any", "other", "ask", "avoid" ]; pronoun.forEach((elm) => {%><% let short; if (elm == 'hh') { short = 'he/him' }; if (elm == 'hi') { short = 'he/it' }; if (elm == 'hs') { short = 'he/she' }; if (elm == 'ht') { short = 'he/they' }; if (elm == 'ih') { short = 'it/him' }; if (elm == 'ii') { short = 'it/its' }; if (elm == 'is') { short = 'it/she' }; if (elm == 'it') { short = 'it/they' }; if (elm == 'shh') { short = 'she/he' }; if (elm == 'sh') { short = 'she/her' }; if (elm == 'si') { short = 'she/it' }; if (elm == 'st') { short = 'she/they' }; if (elm == 'th') { short = 'they/he' }; if (elm == 'ti') { short = 'they/it' }; if (elm == 'ts') { short = 'they/she' }; if (elm == 'tt') { short = 'they/them' }; if (elm == 'any') { short = 'Any pronouns' }; if (elm == 'other') { short = 'Other pronouns' }; if (elm == 'ask') { short = 'Please ask' }; if (elm == 'avoid') { short = 'Avoid pronouns' }; if (short !== acc.pronouns) {%>
                      <option value="<%=elm%>"><%=short%></option><%} else {%>
                      <option value="<%=elm%>" selected><% if (elm == 'hh') { elm = 'he/him' }; if (elm == 'hi') { elm = 'he/it' }; if (elm == 'hs') { elm = 'he/she' }; if (elm == 'ht') { elm = 'he/they' }; if (elm == 'ih') { elm = 'it/him' }; if (elm == 'ii') { elm = 'it/its' }; if (elm == 'is') { elm = 'it/she' }; if (elm == 'it') { elm = 'it/they' }; if (elm == 'shh') { elm = 'she/he' }; if (elm == 'sh') { elm = 'she/her' }; if (elm == 'si') { elm = 'she/it' }; if (elm == 'st') { elm = 'she/they' }; if (elm == 'th') { elm = 'they/he' }; if (elm == 'ti') { elm = 'they/it' }; if (elm == 'ts') { elm = 'they/she' }; if (elm == 'tt') { elm = 'they/them' }; if (elm == 'any') { elm = 'Any pronouns' }; if (elm == 'other') { elm = 'Other pronouns' }; if (elm == 'ask') { elm = 'Ask for my pronouns' }; if (elm == 'avoid') { elm = 'Avoid pronouns, use my name' }; %><%=elm%></option><%}})%>
                    </select>
                  </div>
                </div>
                <div class="form-floating mb-2 break-words">
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="borderGroup">Border</label>
                    <select class="form-select" id="borderGroup" name="border_vr">
                      <option value="none">None</option><% let border = [ "lesbian", "gay", "bisexual", "trans", "queer", "intersex", "asexual", "agender", "aroace", "aromantic", "nonbinary", "polyamorous", "poly", "gaymale", "gayfemale", "genderqueer", "omni", "ally" ]; border.forEach((elm) => { let short; if (elm == 'lesbian') short = 'Lesbian'; if (elm == 'gay') short = 'Gay'; if (elm == 'bisexual') short = 'Bisexual'; if (elm == 'trans') short = 'Trans'; if (elm == 'queer') short = 'Queer'; if (elm == 'intersex') short = 'Intersex'; if (elm == 'asexual') short = 'Asexual'; if (elm == 'agender') short = 'Agender'; if (elm == 'aroace') short = 'Aroace'; if (elm == 'aromantic') short = 'Aromantic'; if (elm == 'nonbinary') short = 'Non-Binary'; if (elm == 'polyamorous') short = 'Polyamorous'; if (elm == 'poly') short = 'Poly'; if (elm == 'gaymale') short = 'Gay Male'; if (elm == 'gayfemale') short = 'Gay Female'; if (elm == 'genderqueer') short = 'Genderqueer'; if (elm == 'omni') short = 'Omni'; if (elm == 'ally') short = 'Ally'; if (elm !== acc.personal_border) {%>
                      <option value="<%=elm%>"><%=short%></option><%} else {%><option value="<%=elm%>" selected><%=short%></option><%}})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="w-min m-auto mt-2">
                <div class="flex flex-auto gap-2">
                  <button type="button" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" onclick="miscDisplay()" id="misc_button">Other</button>
                  <button type="submit" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="register_button">Submit</button>
                </div>
                <div class="my-2"></div>
                <img id="loading" src="/public/i/assets/radar_loading.svg" width="84" height="84" class="hidden" draggable="false">
              </div>
          </form>
          <div class="my-3"></div>
          <div class="w-min md:w-[65%] border-black border-1 bg-zinc-300 dark:bg-zinc-700 dark:border-white p-3 m-auto">
              <div class="w-fit p-4 m-auto flex flex-wrap gap-2">
                  <div class="flex align-middle w-fit m-auto hover:underline hover:cursor-pointer dark:text-white" id="createLink_VR" onclick="createLink()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16"><path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/><path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/></svg>
                      <p>Create link</p>
                  </div>
                  <div class="flex align-middle w-fit m-auto hover:underline hover:cursor-pointer dark:text-white" id="createQR_VR" onclick="createQR()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16"><path d="M2 2h2v2H2V2Z"/><path d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z"/><path d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z"/><path d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"/><path d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z"/></svg>
                      <p class="ml-2">View QR Code</p>
                  </div><% if (acc.pro) {%>
                  <div class="flex align-middle w-fit m-auto hover:underline hover:cursor-pointer dark:text-white" id="editFonts_VR" data-bs-toggle="modal" data-bs-target="#changeFonts">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-fonts" viewBox="0 0 16 16"><path d="M12.258 3h-8.51l-.083 2.46h.479c.26-1.544.758-1.783 2.693-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.431.013c1.934.062 2.434.301 2.693 1.846h.479L12.258 3z"/></svg>
                    <p class="ml-2">View Fonts</p>
                  </div><%}%>
              </div>
              <div class="hidden" id="createLink2_VR">
                  <form id="nL-form" class="p-2 m-auto">
                      <div class="gap-2">
                          <div class="form-floating mb-2 break-all">
                              <input type="url" class="form-control" placeholder="Link" id="addURL" name="url_vr" autocomplete="off"></input>
                              <label for="addURL">URL</label>
                          </div>
                          <div class="form-floating mb-2 break-all">
                              <input type="text" class="form-control" placeholder="Title" id="addTitle" name="title_vr" autocomplete="off"></input>
                              <label for="addTitle">Title</label>
                          </div>
                          <div class="form-floating mb-2 break-all">
                              <input type="text" class="form-control" placeholder="Subtitle" id="addSubtitle" name="subtitle_vr" autocomplete="off"></input>
                              <label for="addSubtitle">Subtitle</label>
                          </div><% if (acc.pro) {%>
                          <div class="form-check form-switch w-fit m-auto">
                              <input class="form-check-input" type="checkbox" role="switch" id="highlight-link" name="highlight_vr">
                              <label class="form-check-label dark:text-white" for="highlight-link">Highlight</label>
                          </div>
                          <div class="form-check form-switch w-fit m-auto" id="ll2">
                            <input class="form-check-input" type="checkbox" role="switch" id="limit-link2" name="llC" onclick="showLimit()">
                            <label class="form-check-label dark:text-white" for="limit-link2">Limit Clicks</label>
                          </div>
                          <div class="hidden" id="ll">
                            <input type="number" class="form-control" placeholder="1" id="limit-link" name="limit_vr" autocomplete="off"></input>
                            <label class="form-check-label dark:text-white" for="limit-link">Limit Clicks</label>
                          </div><%}%>
                      </div>
                      <hr/>
                      <div class="w-fit m-auto mt-2">
                          <div class="w-fit p-8 m-auto flex flex-wrap gap-2">
                              <% if (links.length < acc.linklimit) {%><button type="submit" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="register_button">Add link</button><%}%>
                              <% if (links.length == acc.linklimit) {%><span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="You reached the maximum number of links"><button type="submit" disabled class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="disabled_button">Add link</button></span><%}%>
                              <% if (links.length !== acc.linklimit && links.length > acc.linklimit) {%><span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="You reached the maximum number of links"><button type="submit" disabled class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="disabled_button">Add link</button></span><%}%>
                              <h4 class="mt-2 dark:text-white"><%=links.length%>/<%=acc.linklimit%></h4>
                          </div>
                          <div class="my-2"></div>
                          <img id="loading" src="/public/i/assets/radar_loading.svg" width="84" height="84" class="hidden" draggable="false">
                      </div>
                  </form>
              </div>
              <div class="hidden" id="createQR2_VR">
                  <% if (qr) {%><a class="hover:text-current w-fit m-auto" href="<%=qr%>" download="qrcode.png"><img src="<%=qr%>" draggable="false"></a><%} else {%><h1 class="text-2xl w-fit m-auto">Unable to load QR code.</h1><%}%>
              </div>
          </div>
          <div class="w-min md:w-[65%] border-black border-1 bg-zinc-300 dark:bg-zinc-700 dark:border-white p-3 m-auto mt-3">
            <div class="flex align-middle w-fit m-auto hover:underline hover:cursor-pointer dark:text-white" id="createSocial_VR" onclick="createSocial()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-collection-fill self-center mr-2" viewBox="0 0 16 16"><path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/></svg>
              <p>Socials</p>
            </div>
            <div class="hidden" id="createSocail2_VR">
              <form id="socials-form">
                <div class="hidden" role="alert" id="Serror"></div>
                <div class="form-check form-switch w-fit m-auto" id="social_discord2">
                  <input class="form-check-input" type="checkbox" role="switch" id="show-dis2" name="SDC" onclick="showSocials('social_discord')">
                  <label class="form-check-label dark:text-white" for="show-dis2">Discord</label>
                </div>
                <div class="hidden" id="social_discord">
                  <input type="text" class="form-control" placeholder="name#0000" value="<% if (acc.socials['discord']) {%><%=acc.socials['discord']%><%}%>" id="show-dis" name="discord_vr" autocomplete="off"></input>
                  <label class="form-check-label dark:text-white" for="show-dis">Discord (name#0000)</label>
                </div>
                <div class="w-fit m-auto"><button type="submit" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="socials_button">Update Socials</button></div>
              </form>
            </div>
            <div class="flex align-middle w-fit m-auto hover:underline hover:cursor-pointer dark:text-white" id="enableBadge_VR" data-bs-toggle="modal" data-bs-target="#changeBadge">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-question-fill self-center mr-2" viewBox="0 0 16 16"><path d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636zM7.002 11a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm1.602-2.027c.04-.534.198-.815.846-1.26.674-.475 1.05-1.09 1.05-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745.336 0 .504-.24.554-.627z"/></svg>
              <p>Badges</p>
            </div>
            <img id="Sloading" src="/public/i/assets/radar_loading.svg" width="84" height="84" class="hidden" draggable="false">
          </div>
          <div class="p-8 m-auto flex flex-wrap gap-2"><% if (links) { links.sort((a, b) => { return a.order - b.order }); links.forEach(elm => {%>
              <div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white dark:border-white rounded-lg w-[85%] lg:w-[320px] text-center m-auto p-4">
                  <a class="hover:text-current font-bold<% if (elm.highlight) {%> animate-pulse<%}%>" href="/l/<%=elm.id%>" title="<%=elm.link%>" target="_blank"><div class="w-fit m-auto">
                      <img src="/favicon/<%=elm.id%>" class="w-[75px] h-[75px] rounded hover:scale-110" style="vertical-align:middle; transition: 200ms;" draggable="false">
                  </div>
                  <div class="m-auto break-full">
                      <%=elm.title%><% if (elm.subtitle !== "") {%>
                      <span class="text-gray-700 dark:text-gray-400 figure-caption"><%=elm.subtitle%></span><%}%>
                  </div></a>
                  <div class="w-full md:w-fit justify-center m-auto flex flex-wrap gap-2">
                      <input type="text" class="hidden" name="dismiss_vr" value="<%=elm.uuid%>">
                      <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Remove"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-square-fill align-middle mt-1 m-auto w-fit hover:cursor-pointer" id="<%=elm.uuid%>-dismiss" onclick="dismiss('<%=elm.uuid%>')" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/></svg></span>
                      <input type="text" class="hidden" name="edit_vr" value="<%=elm.uuid%>">
                      <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square align-middle mt-1 m-auto w-fit hover:cursor-pointer" draggable="false" data-bs-toggle="modal" data-bs-target="#edit-<%=elm.uuid%>" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg></span><% if (acc && acc.pro) {%>
                      <input type="text" class="hidden" name="favicon_vr" value="<%=elm.uuid%>">
                      <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit Icon"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-image align-middle mt-1 m-auto w-fit hover:cursor-pointer" draggable="false" data-bs-toggle="modal" data-bs-target="#favedit-<%=elm.uuid%>" viewBox="0 0 16 16"><path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/><path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/></svg></span><%}%>
                  </div>
              </div>
              <form id="<%=elm.uuid%>-form">
                  <div class="modal fade" id="edit-<%=elm.uuid%>" tabindex="-1" aria-labelledby="edit-<%=elm.uuid%>" aria-hidden="true">
                      <div class="modal-dialog my-8 md:my-2">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-black" id="editModalLabel">Edit Link <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                          <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                        </div>
                        <div class="modal-body text-black">
                          <div id="errorLi-<%=elm.uuid%>" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                          <div class="form-row align-items-center">
                            <div class="form-row align-items-center">
                              <div class="col-auto" style="width: 75%; margin: auto;">
                                  <div class="form-floating mb-2 break-all">
                                      <input type="url" class="form-control" placeholder="Link" id="editLink" name="url_vr" value="<%=elm.link%>" autocomplete="off"></input>
                                      <label for="addTitle">Link</label>
                                  </div>
                                  <div class="form-floating mb-2 break-all">
                                      <input type="text" class="form-control" placeholder="Title" id="addTitle" name="title_vr" value="<%=elm.title%>" autocomplete="off"></input>
                                      <label for="addTitle">Title</label>
                                  </div>
                                  <div class="form-floating mb-2 break-all">
                                      <input type="text" class="form-control" placeholder="Subtitle" id="addSubtitle" name="subtitle_vr" value="<%=elm.subtitle%>" autocomplete="off"></input>
                                      <label for="addSubtitle">Subtitle</label>
                                  </div>
                                  <div class="form-floating mb-2 break-all">
                                      <input type="text" class="form-control" placeholder="Order" id="addOrder" name="order_vr" value="<%=elm.order%>" autocomplete="off"></input>
                                      <label for="addOrder">Order</label>
                                  </div><% if (acc.pro) {%>
                                  <div class="form-check form-switch w-fit m-auto">
                                      <% if (!elm.highlight) {%><input class="form-check-input" type="checkbox" role="switch" id="highlight-linkEdit" name="highlight_vr"><%}%>
                                      <% if (elm.highlight) {%><input class="form-check-input" type="checkbox" role="switch" id="highlight-linkEdit" name="highlight_vr" checked><%}%>
                                      <label class="form-check-label" for="highlight-linkEdit">Highlight</label>
                                  </div>
                                  <div class="form-check form-switch w-fit m-auto" id="edit-ll2-<%=elm.uuid%>">
                                    <% if (!elm.limitClicks) {%><input class="form-check-input" type="checkbox" role="switch" id="limit-linkEdit" name="llC" onclick="editClicks('<%=elm.uuid%>')"><%}%>
                                    <% if (elm.limitClicks) {%><input class="form-check-input" type="checkbox" role="switch" id="limit-linkEdit" name="llC" onclick="editClicks('<%=elm.uuid%>')" checked><%}%>
                                    <label class="form-check-label" for="highlight-linkEdit">Limit Clicks</label>
                                  </div>
                                  <div class="<% if (!elm.limitClicks) {%>hidden<%} else {%>form-floating mb-2 break-all w-fit m-auto mt-2<%}%>" id="edit-ll-<%=elm.uuid%>">
                                    <input type="number" class="form-control" placeholder="1" id="limit-edit" name="limit_vr" value="<%=elm.limitClick%>" autocomplete="off"></input>
                                    <label class="form-check-label dark:text-white" for="limit-edit">Limit Clicks</label>
                                  </div><%}%>
                              </div>
                            </div>
                            <div class="w-fit m-auto">
                              <div class="hidden" id="Lispinner-<%=elm.uuid%>" role="status">
                                  <span class="visually-hidden">Loading...</span>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <form id="<%=elm.uuid%>-fav-form">
                  <div class="modal fade" id="favedit-<%=elm.uuid%>" tabindex="-1" aria-labelledby="favedit-<%=elm.uuid%>" aria-hidden="true">
                      <div class="modal-dialog my-8 md:my-2">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-black" id="editModalLabelfav">Edit Link Icon <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                          <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                        </div>
                        <div class="modal-body text-black">
                          <div id="errorFav-<%=elm.uuid%>" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                          <div class="form-row align-items-center">
                            <div class="form-row align-items-center">
                              <div class="col-auto" style="width: 75%; margin: auto;">
                                <div class="w-fit m-auto"><img src="/favicon/<%=elm.id%>" class="w-[128px] h-[128px] rounded" draggable="false" id="faviconImage"></div>
                                <div class="my-2"></div>
                                <label class="sr-only" for="FaviconFile-<%=elm.uuid%>">Favicon</label>
                                <input type="file" class="form-control" id="FaviconFile-<%=elm.uuid%>" name="icon" accept="image/*">
                                <div class="my-1"></div>
                              </div>
                            </div>
                            <div class="w-fit m-auto">
                              <div class="hidden" id="Favspinner-<%=elm.uuid%>" role="status">
                                  <span class="visually-hidden">Loading...</span>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Upload Icon</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              <%})}%>
          </div><%} else {%>
          <form id="mainVerify-form" class="p-2 m-auto">
              <div class="flex flex-auto gap-2">
                  <div class="form-floating mb-2 break-all m-auto">
                      <input type="text" class="form-control" placeholder="Enter verification code" id="updateVerify" name="verifcode" maxlength="9" autocomplete="off" value="<% if (code) {%><%=code%><%}%>" required></input>
                      <label for="updateDisplay">Verification Code</label>
                  </div>
              </div>
              <hr/>
              <div class="w-fit m-auto mt-2">
                  <button type="submit" class="btn btn-primary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="register_button">Verify E-Mail</button>
                  <div class="my-2"></div>
                  <img id="loading" src="/public/i/assets/radar_loading.svg" width="84" height="84" class="hidden" draggable="false">
              </div>
          </form>
          <div class="w-fit m-auto"><button type="submit" class="btn btn-primary mt-2" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" type="submit" id="resend_button">Resend code</button></div><%}%>
  
          <form id="avatar-form">
              <div class="modal fade" id="changePFP" tabindex="-1" aria-labelledby="changePFPModalLabel" aria-hidden="true">
                  <div class="modal-dialog my-8 md:my-2">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black" id="editModalLabel">Edit Avatar <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                      <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                    </div>
                    <div class="modal-body text-black">
                      <div id="errorAv" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                      <div class="form-row align-items-center">
                        <div class="form-row align-items-center">
                          <div class="col-auto" style="width: 75%; margin: auto;">
                            <label class="sr-only" for="AvatarFile">Avatar</label>
                            <input type="file" class="form-control" id="AvatarFile" name="pfp" accept="image/*">
                            <div class="my-1"></div>
                          </div>
                        </div>
                        <div class="hidden" id="AVspinner" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form id="banner-form">
              <div class="modal fade" id="changeBANNER" tabindex="-1" aria-labelledby="changeBANNERModalLabel" aria-hidden="true">
                  <div class="modal-dialog my-8 md:my-2">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black" id="editModalLabel">Edit Banner <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                      <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                    </div>
                    <div class="modal-body text-black">
                      <div id="errorBn" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                      <div class="form-row align-items-center">
                        <div class="form-row align-items-center">
                          <div class="col-auto" style="width: 75%; margin: auto;">
                            <label class="sr-only" for="BannerFile">Banner</label>
                            <input type="file" class="form-control" id="BannerFile" name="banner" accept="image/*">
                            <div class="my-1"></div>
                          </div>
                        </div>
                        <div class="hidden" id="BNspinner" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form id="badge-form">
              <div class="modal fade" id="changeBadge" tabindex="-1" aria-labelledby="changeBadgeModalLabel" aria-hidden="true">
                  <div class="modal-dialog my-8 md:my-2">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black" id="editBadgeLabel">Edit Badge: <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex -mt-1" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                      <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                    </div>
                    <div class="modal-body text-black">
                      <div id="errorBa" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                      <div class="form-row align-items-center">
                        <div class="form-row align-items-center">
                          <div class="col-auto" style="width: 75%; margin: auto;"><% if (badge && badge.length > 0) {%>
                            <label class="input-group-text hidden" for="badgeGroup">Badges</label>
                            <select class="form-select mb-2" id="badgeGroup" name="badges_vr">
                              <option value="none">None</option><% if (badge && badge.length > 0) {%>
                              <% badge.forEach((elm) => {%><% if (elm.elm.disabled) {%><option value="<%=elm.id%>"><%=elm.badge%>: <%=elm.text%> Badge</option><%} else {%><option value="<%=elm.id%>" selected><%=elm.badge%>: <%=elm.text%> Badge</option><%}%><%})%><%}%>
                            </select><%} else {%>
                            <h2 class="text-2xl font-bold text-center w-fit m-auto">Uh Oh! It seems like you don't have any badges!</h2><%}%>
                          </div>
                        </div>
                        <div class="w-fit m-auto">
                          <div class="hidden" id="BAspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button><% if (badge && badge.length > 0) {%>
                          <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Save changes</button><%}%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form><% if (acc.pro) {%>
            <form id="font-form">
              <div class="modal fade" id="changeFonts" tabindex="-1" aria-labelledby="changeFontsModalLabel" aria-hidden="true">
                  <div class="modal-dialog my-8 md:my-2">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black" id="editFontLabel">Edit Font: <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex -mt-1" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                      <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                    </div>
                    <div class="modal-body text-black">
                      <div id="errorFn" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                      <div class="form-row align-items-center">
                        <div class="form-row align-items-center">
                          <div class="col-auto" style="width: 75%; margin: auto;">
                            <label class="input-group-text hidden" for="fontGroup">Fonts</label>
                            <select class="form-select mb-2" id="fontGroup" name="fonts_vr">
                              <option value="none">None</option>
                              <option value="Caveat">Caveat</option>
                              <option value="Kanit">Kanit</option>
                              <option value="Oswald">Oswald</option>
                              <option value="Poppins">Poppins</option>
                              <option value="SourceCodePro">Source Code Pro</option>
                              <option value="Aldrich">Aldrich</option>
                            </select>
                          </div>
                        </div>
                        <div class="w-fit m-auto">
                          <div class="hidden" id="FNspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form><%}%>
      </div>
    </div>
    <div id="previewDisplay" class="hidden">
      <h1 class="font-bold text-4xl text-center my-2 mx-2 dark:text-white">Your dashboard: <div class="w-fit m-auto text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search mt-2 hover:cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Preview page" onclick="previewDisplay()" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/> </svg></div></h1>
      <div id="background-image-wrapper" style="background-image: url('/banner/<%=acc.uuid%>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <div class="w-fit m-auto break-words p-2 text-lg text-center dark:text-white">
            <div class="bg-zinc-300 dark:bg-zinc-700 p-2 rounded border-2 border-black mt-12" id="mainBorder">
                <img src="/avatar/<%= acc.uuid %>" class="w-[128px] h-[128px] rounded-full border-[2px] border-black mb-2 bg-zinc-300" style="margin: auto; margin-top: -45px;" draggable="false">
                <h2 class="font-bold text-4xl inline-flex" style="font-family: '<% if (acc.fonts && acc.fonts !== '') {%><%=acc.fonts%><%} else {%>Cabin<%}%>', sans-serif;" id="previewDisplayName"><%= acc.displayName %><% if (activeBadge) {%><span class="align-middle mt-3 ml-1"><img width="18" height="18" src="/badge/<%=acc._id%>" data-bs-toggle="tooltip" data-bs-placement="top" title="<%=activeBadge.text%> Badge"></span><%}%><% if (acc.vrverified) {%><a href="/help/verified-accounts" class="hover:text-current w-fit h-fit"><img src="/public/i/assets/verified<% if (acc.theme == 'dark') {%>_dark<%}%>.svg" class="ml-1 mt-3" title="Verified badge" draggable="false"></a><%}%><% if (acc.ogname) {%><a href="/help/rare-usernames" class="hover:text-current w-fit h-fit"><img src="/public/i/assets/og<% if (theme == 'dark') {%>_dark<%}%>.svg" class="ml-1 <% if (acc.vrverified) {%>mt-3<%} else {%>mt-[12.5px]<%}%> w-[18px] h-[18px]" title="Rare Username badge" draggable="false"></a><%}%></h2>
                <div class="flex flex-wrap gap-2"><% if (acc.location && acc.location !== "" && acc.location !== " ") {%>
                  <h4 class="font-bold text-xl text-gray-600 dark:text-gray-400 flex w-fit m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="gray" class="bi bi-geo-alt-fill mt-[6.5px]" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg><%=acc.location%></h4>
                <%}%><% if (acc.pronouns && acc.pronouns !== "") {%>
                  <h4 class="font-bold text-xl text-gray-600 dark:text-gray-400 flex w-fit m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="gray" class="bi bi-question-lg mt-[6.5px]" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/></svg><%=acc.pronouns%></h4>
                <%}%></div><% if (acc.bio && acc.bio !== "" && acc.bio !== " ") {%>
                <h4 class="font-bold text-2xl"><%=acc.bio%></h4><%}%><% if (acc.socials && acc.socials['discord']) {%>
                <div class="flex flex-wrap gap-2">
                  <textarea id="discord_copy_text" class="hidden"><%=acc.socials['discord']%></textarea>
                  <div class="rounded-full w-fit m-auto"><a data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="<%=acc.socials['discord']%>" onclick="copy('discord_copy_text')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16"><path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"/></svg></a></div>
                </div><%}%>
                <hr class="mt-2"/>
            </div>
        </div>
        <div class="mt-6"></div>
      </div>
      <hr class="mb-2 w-1/3 m-auto dark:text-white" style="height: 2.5px;"/>
      <div class="w-[90%] lg:w-fit p-8 m-auto flex flex-wrap gap-2"><% if (links) { links.sort((a, b) => { return a.order - b.order }); links.forEach(elm => { if (!elm.limitClicks) {%>
        <% if (!elm.link.includes('youtube.com/watch?v=')) {%><div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white rounded-lg m-auto w-[85%] lg:w-[320px] p-4">
            <a class="hover:text-current font-bold<% if (elm.highlight) {%> animate-[pulse_2.5s_ease-out_infinite]<%}%>" href="/l/<%=elm.id%>" title="<%=elm.link%>" target="_blank"><div class="w-fit m-auto">
                <img src="/favicon/<%=elm.id%>" class="w-[75px] h-[75px] rounded hover:scale-110" style="vertical-align:middle; transition: 200ms;" draggable="false">
            </div>
            <div class="m-auto text-center">
                <%=elm.title%><% if (elm.subtitle !== "") {%>
                <span class="text-gray-700 dark:text-gray-400 figure-caption"><%=elm.subtitle%></span><%}%>
            </div></a>
        </div><%}%><% if (elm.link.includes('youtube.com/watch?v=')) {%>
        <div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white m-auto w-[85%] lg:w-[320px]">
            <iframe class="w-[100.5%] lg:w-[100%] m-auto" src="https://www.youtube-nocookie.com/embed/<%=elm.link.split('?v=')[1]%>" title="<%=elm.title%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div><%}}%><% if (elm.limitClicks && parseInt(elm.limitClick) > elm.clicks.length) {%>
        <div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white rounded-lg m-auto w-[85%] lg:w-[320px] p-4">
            <a class="hover:text-current font-bold<% if (elm.highlight) {%> animate-[pulse_2.5s_ease-out_infinite]<%}%>" href="/l/<%=elm.id%>" title="<%=elm.link%>" target="_blank"><div class="w-fit m-auto">
                <img src="/favicon/<%=elm.id%>" class="w-[75px] rounded hover:scale-110" style="vertical-align:middle; transition: 200ms;" draggable="false">
            </div>
            <div class="m-auto text-center">
                <%=elm.title%><% if (elm.subtitle !== "") {%>
                <span class="text-gray-700 dark:text-gray-400 figure-caption"><%=elm.subtitle%></span><%}%>
            </div></a>
        </div><%}})}%>
      </div>
    </div>
    <script defer>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        
        function previewDisplay() {
            let edit = document.getElementById('editDisplay');
            let preview = document.getElementById('previewDisplay');
            let mainBorder = document.getElementById('mainBorder');
            let change = preview.getAttribute('class');
            
            if (change == "hidden") {
              let b = fetch('/api/v1/personal_border?name=<%=acc.name%>', { method: 'get' }).then((r)=>r.json()).then((w)=>{
                let pb = null;
                if (w.OK && w.border !== 'none') { pb = w.border; };
                edit.setAttribute('class', 'hidden');
                mainBorder.setAttribute('class', `bg-zinc-300 dark:bg-zinc-700 p-2 rounded border-2 border-black mt-12 ${pb}`)
                preview.setAttribute('class', 'w-fit m-auto');<% if (acc && acc.pro && acc.theme == "dark") {%>
                document.getElementById('html').setAttribute('class', 'dark')<%}%>
              });
            };
            if (change !== "hidden") {
              preview.setAttribute('class', 'hidden');
              edit.setAttribute('class', 'm-auto');<% if (acc && acc.pro && acc.theme == "dark") {%>
              document.getElementById('html').setAttribute('class', '')<%}%>
            };
        };

        function miscDisplay() {
            let main = document.getElementById('mainSett');
            let misc = document.getElementById('miscSett');
            let change = misc.getAttribute('class');
            
            if (change == "hidden") {
              main.setAttribute('class', 'hidden');
              misc.setAttribute('class', 'flex flex-auto gap-2 w-fit m-auto');
            };
            if (change !== "hidden") {
              misc.setAttribute('class', 'hidden');
              main.setAttribute('class', 'flex flex-auto gap-2');
            };
        };

        function createLink() {
            let two = document.getElementById('createLink2_VR');
            let change = two.getAttribute('class');
            
            if (change == "hidden") {
                two.setAttribute('class', 'w-fit m-auto');
            };
            if (change !== "hidden") {
                two.setAttribute('class', 'hidden');
            };
        };
        function createQR() {
            let two = document.getElementById('createQR2_VR');
            let change = two.getAttribute('class');
            
            if (change == "hidden") {
                two.setAttribute('class', 'w-fit m-auto');
            };
            if (change !== "hidden") {
                two.setAttribute('class', 'hidden');
            };
        };
        function createSocial() {
            let main = document.getElementById('createSocial_VR');
            let misc = document.getElementById('createSocail2_VR');
            let change = misc.getAttribute('class');
            
            if (change == "hidden") {
              misc.setAttribute('class', 'flex flex-auto gap-2 w-fit m-auto mt-1 mb-2');
            };
            if (change !== "hidden") {
              misc.setAttribute('class', 'hidden');
            };
        };
        function showSocials(id) {
            let two = document.getElementById(`${id}2`);
            let one = document.getElementById(`${id}`);
            let change = one.getAttribute('class');
            
            if (change !== "hidden") {
              one.setAttribute('class', 'hidden');
            };
            if (change == "hidden") {
              one.setAttribute('class', 'form-floating mb-2 break-all w-fit m-auto mt-2');
            };
        };<% if (acc.pro) {%>
        function showLimit() {
            let two = document.getElementById('ll2');
            let one = document.getElementById('ll');
            let change = one.getAttribute('class');
            
            if (change !== "hidden") {
              one.setAttribute('class', 'hidden');
            };
            if (change == "hidden") {
              one.setAttribute('class', 'form-floating mb-2 break-all w-fit m-auto mt-2');
            };
        };
        function editClicks(id) {
            let two = document.getElementById(`edit-ll2-${id}`);
            let one = document.getElementById(`edit-ll-${id}`);
            let change = one.getAttribute('class');

            if (change !== "hidden") {
              one.setAttribute('class', 'hidden');
            };
            if (change == "hidden") {
              one.setAttribute('class', 'form-floating mb-2 break-all w-fit m-auto mt-2');
            };
        };<%}%>
        function getBase64(file) {
          if (!file) return
          return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
          });
        }<% if (!acc.verified) {%>
        $('#mainVerify-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));

            $('#error').text('');
            $('#error').toggleClass(false);
            let loading = document.getElementById('loading');

            fetch(`/api/v1/verify/<%=acc.uuid%>?json=true`, { method: 'post', body: formData }).then((r)=>r.json()).then((b)=>{
                loading.setAttribute('class', 'hidden');
                if (!b.OK) {
                    $('#error').text(b.error);
                    $('#error').addClass('alert alert-danger break-normal my-1 text-center');
                } else {
                    window.location.assign(`/dashboard`);
                };
            });
    
            loading.setAttribute('class', 'm-auto mt-1');
        });
        $('#resend_button').click(function (e) {
            e.preventDefault();
            const formData = new FormData();
            formData.append("verifcode", "resend");

            $('#error').text('');
            $('#error').toggleClass(false);
            let loading = document.getElementById('loading');

            fetch(`/api/v1/verify/<%=acc.uuid%>?json=true&resend=true`, { method: 'post', body: formData }).then((r)=>r.json()).then((b)=>{
                loading.setAttribute('class', 'hidden');
                if (!b.OK) {
                    $('#error').text(b.error);
                    $('#error').addClass('alert alert-danger break-normal my-1 text-center');
                } else {
                    window.location.assign(`/dashboard`);
                };
            });
    
            loading.setAttribute('class', 'm-auto mt-1');
        });<%}%>

        $('#mainUpdate-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));

            $('#error').text('');
            $('#error').toggleClass(false);
            let loading = document.getElementById('loading');

            fetch(`/api/v1/account/edit`, { method: 'post', body: formData }).then((r)=>r.json()).then((b)=>{
                loading.setAttribute('class', 'hidden');
                if (b.OK) {
                    console.log(b);
                    window.location.assign(`/dashboard`);
                } else {
                    $('#error').text(b.error);
                    $('#error').addClass('alert alert-danger break-normal my-1 text-center');
                };
            });
    
            loading.setAttribute('class', 'm-auto mt-1');
        });

        $('#badge-form').submit(function (e) {
            e.preventDefault();
            let loading = document.getElementById('BAspinner');
            const formData = new URLSearchParams(new FormData(this));

            $('#errorBa').text('');
            $('#errorBa').toggleClass(false);

            loading.setAttribute('class', 'm-auto spinner-border');
            fetch(`/api/v1/account/edit_badge`, { method: 'post', body: formData }).then((r)=>r.json()).then((b)=>{
                loading.setAttribute('class', 'hidden');
                if (b.OK) {
                    console.log(b);
                    window.location.assign(`/dashboard`);
                } else {
                    $('#errorBa').text(b.error);
                    $('#errorBa').addClass('alert alert-danger break-normal my-1 text-center');
                };
            });
    
            loading.setAttribute('class', 'm-auto mt-1');
        });

        $('#nL-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));

            $('#error').text('');
            $('#error').toggleClass(false);
            let loading = document.getElementById('loading');

            fetch(`/api/v1/create_url`, { method: 'post', body: formData }).then((r)=>r.json()).then((b)=>{
                loading.setAttribute('class', 'hidden');
                if (b.OK) {
                    console.log(b);
                    window.location.assign(`/dashboard`);
                } else {
                    $('#error').text(b.error);
                    $('#error').addClass('alert alert-danger break-normal my-1 text-center');
                };
            });
    
            loading.setAttribute('class', 'm-auto mt-1');
        });

        $('#socials-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));

            $('#Serror').text('');
            $('#Serror').toggleClass(false);
            let loading = document.getElementById('Sloading');

            fetch(`/api/v1/account/edit_socials`, { method: 'post', body: formData }).then((r)=>r.json()).then((b)=>{
                loading.setAttribute('class', 'hidden');
                if (b.OK) {
                    console.log(b);
                    window.location.assign(`/dashboard`);
                } else {
                    $('#Serror').text(b.error);
                    $('#Serror').addClass('alert alert-danger break-normal my-1 text-center');
                };
            });
    
            loading.setAttribute('class', 'm-auto mt-1');
        });

        $('#avatar-form').submit(function (e) {
            e.preventDefault();
            const formData = new FormData();
            let d = document.getElementById('AvatarFile');
            let av = document.getElementById('AVspinner');
            let dd = new FileReader();
            formData.append("pfp", d.files[0]);

            av.setAttribute('class', 'm-auto spinner-border');
            fetch('/api/v1/account/edit/avatar', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
              $('#errorAv').text('');
              $('#error').toggleClass(false);
              av.setAttribute('class', 'hidden');
              if (w.OK) {
                $('#errorAv').text(w.text);
                $('#errorAv').addClass('alert alert-success my-1');
              } else {
                $('#errorAv').text(w.error);
                $('#errorAv').addClass('alert alert-danger my-1');
              }
            }).catch(e => {
              console.log(e);
              $('#errorAv').text(e);
              $('#errorAv').addClass('alert alert-danger my-1');
            });
        });<% if (acc.pro) {%>
        $('#banner-form').submit(function (e) {
            e.preventDefault();
            const formData = new FormData();
            let d = document.getElementById('BannerFile');
            let av = document.getElementById('BNspinner');
            let dd = new FileReader();
            formData.append("banner", d.files[0]);

            av.setAttribute('class', 'm-auto spinner-border');
            fetch('/api/v1/account/edit/banner', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
              $('#errorBn').text('');
              $('#error').toggleClass(false);
              av.setAttribute('class', 'hidden');
              if (w.OK) {
                $('#errorBn').text(w.text);
                $('#errorBn').addClass('alert alert-success my-1');
              } else {
                $('#errorBn').text(w.error);
                $('#errorBn').addClass('alert alert-danger my-1');
              }
            }).catch(e => {
              console.log(e);
              $('#errorBn').text(e);
              $('#errorBn').addClass('alert alert-danger my-1');
            });
        });
        $('#font-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));
            let d = document.getElementById('FontValue');
            let av = document.getElementById('FNspinner');

            av.setAttribute('class', 'm-auto spinner-border');
            fetch('/api/v1/account/edit/font', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
              $('#errorFn').text('');
              $('#errorFn').toggleClass(false);
              av.setAttribute('class', 'hidden');
              if (w.OK) {
                $('#errorFn').text(w.status);
                $('#errorFn').addClass('alert alert-success my-1');
                document.getElementById('previewDisplayName').setAttribute('style', `font-family: '${w.updated_to}', sans-serif;`);
              } else {
                $('#errorFn').text(w.error);
                $('#errorFn').addClass('alert alert-danger my-1');
                document.getElementById('previewDisplayName').setAttribute('style', `font-family: 'Cabin', sans-serif;`);
              }
            }).catch(e => {
              console.log(e);
              $('#errorFn').text(e);
              $('#errorFn').addClass('alert alert-danger my-1');
            });
        });
        <%}%><% if (links) {%>
            function dismiss(uuid) {
                fetch(`/api/v1/remove_url/${uuid}`, { method: 'get' }).then((r)=>r.json()).then((w)=>{
                    $('#error').text('');
                    $('#error').toggleClass(false);
                    console.log(w.error);
                    if (!w.error) {
                      if (w.OK) return window.location.reload();
                    } else {
                      $('#error').text(w.error);
                      $('#error').addClass('alert alert-danger m-auto my-2 w-fit');
                    }
                }).catch(e => {
                  console.log(e);
                  window.location.assign('/dashboard');
                });
            };<% links.forEach((elm) => {%>
            $('#<%=elm.uuid%>-form').submit(function (e) {
                e.preventDefault();
                const formData = new URLSearchParams(new FormData(this));
                let av = document.getElementById('Lispinner-<%=elm.uuid%>');

                av.setAttribute('class', 'spinner-border');
                fetch('/api/v1/edit_url/<%=elm.uuid%>', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
                  $('#errorLi-<%=elm.uuid%>').text('');
                  $('#error').toggleClass(false);
                  av.setAttribute('class', 'hidden');
                  if (w.OK) {
                    $('#errorLi-<%=elm.uuid%>').text(w.text);
                    $('#errorLi-<%=elm.uuid%>').addClass('alert alert-success my-1');
                  } else {
                    $('#errorLi-<%=elm.uuid%>').text(w.error);
                    $('#errorLi-<%=elm.uuid%>').addClass('alert alert-danger my-1');
                  }
                }).catch(e => {
                  console.log(e);
                  $('#errorLi-<%=elm.uuid%>').text(e);
                  $('#errorLi-<%=elm.uuid%>').addClass('alert alert-danger my-1');
                });
            });<% if (acc.pro) {%>
            $('#<%=elm.uuid%>-fav-form').submit(function (e) {
              e.preventDefault();
              const formData = new FormData();
              let d = document.getElementById('FaviconFile-<%=elm.uuid%>');
              let av = document.getElementById('Favspinner-<%=elm.uuid%>');
              let dd = new FileReader();
              formData.append("favicon", d.files[0]);

              av.setAttribute('class', 'm-auto spinner-border');
              fetch('/api/v1/edit_url/<%=elm.uuid%>/icon', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
                $('#errorFav-<%=elm.uuid%>').text('');
                $('#errorFav-<%=elm.uuid%>').toggleClass(false);
                av.setAttribute('class', 'hidden');
                if (w.OK) {
                  document.getElementById('faviconImage').src = `/favicon/<%=elm.id%>?time=${Date.now()}`;
                  $('#errorFav-<%=elm.uuid%>').text(w.text);
                  $('#errorFav-<%=elm.uuid%>').addClass('alert alert-success my-1');
                } else {
                  $('#errorFav-<%=elm.uuid%>').text(w.error);
                  $('#errorFav-<%=elm.uuid%>').addClass('alert alert-danger my-1');
                }
              }).catch(e => {
                console.log(e);
                $('#errorFav-<%=elm.uuid%>').text(e);
                $('#errorFav-<%=elm.uuid%>').addClass('alert alert-danger my-1');
              });
            });<%}})%>
        <%}%>

        function copy(text) {
          var copyText = document.getElementById(text);

          copyText.select();
          copyText.setSelectionRange(0, 99999);

          navigator.clipboard.writeText(copyText.value);
        };

        fetch('/api/v1/account?name=<%=acc.nameToFind%>').json();
    </script>
</body>
</html>