<!DOCTYPE html>
<html class="<%= theme %>" lang="en" id="html">
<head>
    <link rel="icon" href="<%=domain%>/avatar/<%=view.uuid%>">
    <link rel="icon" rel="apple-touch-icon" href="<%=domain%>/avatar/<%=view.uuid%>">

    <meta property="twitter:title" content="<%=view.name%>'s Profile | Ferret">
    <meta property="twitter:description" content="<% if (view.bio !== '') {%><%=view.bio%><%} else {%>This user has not set a bio yet<%}%>">
    <meta property="twitter:image" content="<%=domain%>/avatar/<%=view.uuid%>">
    <meta property="twitter:url" content="<%=domain%>/<%=view.name%>">
    <link rel="stylesheet" href="/css/pride.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Black+Ops+One&family=Caveat&family=Kanit:wght@300&family=Oswald:wght@300;400&family=Poppins:wght@300;400&family=Press+Start+2P&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">

    <%- include('../meta/index', { title: view.name+"'s Profile" }); %>
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <div id="background-image-wrapper" style="background-image: url('/banner/<%=view.uuid%>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <div class="w-fit m-auto break-words p-2 text-lg text-center dark:text-white">
            <div class="bg-zinc-300 dark:bg-zinc-700 p-2 rounded border-2 border-black mt-12" id="mainBorder">
                <img src="/avatar/<%= view.uuid %>" class="w-[128px] h-[128px] rounded-full border-[2px] border-black mb-2 bg-zinc-300" style="margin: auto; margin-top: -45px;" draggable="false">
                <h2 class="font-bold text-4xl inline-flex" style="font-family: '<% if (view.fonts && view.fonts !== '') {%><%=view.fonts%><%} else {%>Cabin<%}%>', sans-serif;"><%= view.displayName %><% if (badge) {%><span class="align-middle mt-3 ml-1"><img width="18" height="18" src="/badge/<%=view._id%>" data-bs-toggle="tooltip" data-bs-placement="top" title="<%=badge.text%> Badge"></span><%}%><% if (view.vrverified) {%><a href="/help/verified-accounts" class="hover:text-current w-fit h-fit"><img src="/public/i/assets/verified<% if (theme == 'dark') {%>_dark<%}%>.svg" class="ml-1 mt-3" title="Verified badge" draggable="false"></a><%}%><% if (view.ogname) {%><a href="/help/rare-usernames" class="hover:text-current w-fit h-fit"><img src="/public/i/assets/og<% if (theme == 'dark') {%>_dark<%}%>.svg" class="ml-1 <% if (view.vrverified) {%>mt-3<%} else {%>mt-[12.5px]<%}%> w-[18px] h-[18px]" title="Rare Username badge" draggable="false"></a><%}%></h2>
                <div class="flex flex-wrap gap-2"><% if (view.location && view.location !== "" && view.location !== " ") {%>
                    <h4 class="font-bold text-xl text-gray-600 dark:text-gray-400 flex w-fit m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="gray" class="bi bi-geo-alt-fill mt-[6.5px]" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg><%=view.location%></h4>
                <%}%><% if (view.pronouns && view.pronouns !== "") {%>
                    <h4 class="font-bold text-xl text-gray-600 dark:text-gray-400 flex w-fit m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="gray" class="bi bi-question-lg mt-[6.5px]" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/></svg><%=view.pronouns%></h4>
                <%}%></div><% if (view.bio && view.bio !== "" && view.bio !== " ") {%>
                <h4 class="font-bold text-2xl"><%=view.bio%></h4><%}%><% if (view.socials) {%>
                <div class="flex flex-wrap gap-2 w-fit m-auto"><% if (view.socials['discord']) {%>
                  <textarea id="discord_copy_text" class="hidden"><%=view.socials['discord']%></textarea>
                  <div class="rounded-full w-fit m-auto"><a data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="<%=view.socials['discord']%>" onclick="copy('discord_copy_text')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16"><path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"/></svg></a></div><%} if (view.socials['twitter']) {%>
                  <div class="rounded-full w-fit m-auto"><a class="hover:text-current" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="@<%=view.socials['twitter']%>" href="https://twitter.com/<%=view.socials['twitter']%>" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"><path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg></a></div><%}%>
                </div><%}%>
                <hr class="mt-2"/>
            </div><% if (view.banner !== ""){%>
            <div class="mb-16"></div><%}%>
        </div>
        <div class="mt-6"></div>
    </div>
    <hr class="mb-2 w-1/3 m-auto dark:text-white" style="height: 2.5px;"/>
    <div class="w-[90%] lg:w-fit p-8 m-auto flex flex-wrap gap-2"><% if (links) { links.sort((a, b) => { return a.order - b.order }); links.forEach(elm => { if (!elm.limitClicks) {%>
        <% if (!elm.link.includes('youtube.com/watch?v=')) {%><div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white rounded-lg m-auto w-[85%] lg:w-[320px] p-4">
            <a class="hover:text-current font-bold<% if (elm.highlight) {%> animate-[pulse_2.5s_ease-out_infinite]<%}%>" href="/l/<%=elm.id%>" title="<%=elm.link%>" target="_blank"><div class="w-fit m-auto">
                <img src="/favicon/<%=elm.id%>" class="w-[75px] rounded hover:scale-110" style="vertical-align:middle; transition: 200ms;" draggable="false">
            </div>
            <div class="m-auto text-center">
                <%=elm.title%><% if (elm.subtitle !== "") {%>
                <span class="text-gray-700 dark:text-gray-400 figure-caption"><%=elm.subtitle%></span><%}%>
            </div></a>
        </div><%}%><% if (elm.link.includes('youtube.com/watch?v=')) {%>
        <div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white m-auto w-[85%] lg:w-[320px]">
            <iframe class="w-[100.5%] lg:w-[100%] m-auto" src="https://www.youtube-nocookie.com/embed/<%=elm.link.split('?v=')[1]%>" title="<%=elm.title%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div><%}}%><% if (elm.limitClicks && parseInt(elm.limitClick) > elm.clicks.length) {%>
        <div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white rounded-lg m-auto w-[85%] lg:w-[320px] p-4">
            <a class="hover:text-current font-bold<% if (elm.highlight) {%> animate-[pulse_2.5s_ease-out_infinite]<%}%>" href="/l/<%=elm.id%>" title="<%=elm.link%>" target="_blank"><div class="w-fit m-auto">
                <img src="/favicon/<%=elm.id%>" class="w-[75px] h-[75px] rounded hover:scale-110" style="vertical-align:middle; transition: 200ms;" draggable="false">
            </div>
            <div class="m-auto text-center">
                <%=elm.title%><% if (elm.subtitle !== "") {%>
                <span class="text-gray-700 dark:text-gray-400 figure-caption"><%=elm.subtitle%></span><%}%>
            </div></a>
        </div><%}})}%>
    </div><br>
    <footer class="w-full m-auto flex lg:fixed mb-2 left-0 bottom-0 dark:text-white justify-center">
        <a class="text-2xl hover:text-current hover:underline" href="<% if (acc) {%>/dashboard<%} else {%>https://had.contact<%}%>">Powered by Ferret</a>
    </footer>
    <script defer>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        let mainBorder = document.getElementById('mainBorder');
        let b = fetch('/api/v1/personal_border?name=<%=view.name%>', { method: 'get' }).then((r)=>r.json()).then((w)=>{
            let pb = null;
            if (w.OK && w.border !== 'none') { pb = w.border; };
            mainBorder.setAttribute('class', `bg-zinc-300 dark:bg-zinc-700 p-2 rounded border-2 border-black mt-12 ${pb}`);
        });

        function copy(text) {
          var copyText = document.getElementById(text);

          copyText.select();
          copyText.setSelectionRange(0, 99999);

          navigator.clipboard.writeText(copyText.value);
        };
    </script>
</body>
</html>