<!DOCTYPE html>
<html class="<%= theme %>" lang="en" id="html">
<head>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="icon" rel="apple-touch-icon" href="/public/favicon.ico">
    <%- include('../meta/index', { title: 'Purchases' }); %>
</head>
<body class="bg-meowmail-main dark:bg-ayyblue-black">
    <%- include('../meta/nav'); %>
    <h1 class="font-bold text-4xl text-center my-2 mx-2 dark:text-white">Your balance: <a href="/my/shop" class="hover:text-current hover:underline hover:cursor-pointer">$<%=parseInt(acc.credit).toLocaleString('en-US')%></a></h1>
    <div class="w-fit m-auto break-words p-2 text-lg dark:text-white">
        <div class="flex flex-wrap gap-2 m-auto w-min md:w-fit"><% if (p) { p.forEach((elm) => {%>
            <div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white rounded m-auto p-4 text-center">
                <h4>Receipt ID: <span class="font-bold"><%=elm.receipt%></span></h4>
                <h4>Plan: <span class="font-bold"><% if (elm.pro) {%>Pro<%}%><% if (elm.subdomain) {%>Subdomain<%}%><% if (elm.credit) {%>Credits<%}%><% if (elm.badge) {%><%=elm.receipt.split('-')[1]%><%}%></span></h4><% if (elm.gift) {%>
                <h4>Gifed by: <span class="font-bold"><a class="hover:text-current hover:underline hover:cursor-pointer" href="/<%=elm.gift_from.name%>" target="__blank"><%=elm.gift_from.displayName%></a></span></h4><%} else {%><h4>Gifed by: <span class="font-bold"><a class="hover:text-current hover:underline hover:cursor-pointer" href="/my/purchases"><% if (!elm.admin_gift) {%>System<%}; if (elm.admin_gift) {%>Console<%}%></a></span></h4><%}%>
                <h4>Purchase Amount: <span class="font-bold">$<%=parseInt(elm.amount).toLocaleString('en-US')%></span></h4>
                <h4>Purchase Date: <span class="font-bold"><time data-time="<%=new Date(elm.date).valueOf()%>"></time></span></h4><% if (!elm.credit && !elm.badge) {%><% let difference = elm.valid_until.getTime() - new Date().getTime(); let daysleft = Math.ceil(difference / (1000 * 3600 * 24)); %>
                <h4>Days left: <span class="font-bold" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="<%=elm.valid_until%>"><% if (daysleft > 0 && elm.valid) {%><%=daysleft.toLocaleString('en-US');%><%} else {%>Expired<%}%></span></h4><%}%>
            </div><%})} else {%><h1 class="text-2xl dark:text-white">Seems a bit empty here. . .</h1><%}%>
        </div><br>
        <div class="w-[75%] m-auto text-center">
          <div id="errorGC" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
          
          <form id="redeem-form" class="form-floating mb-2 break-all">
            <input type="text" class="form-control" placeholder="Redeem gift code" id="GC" name="gc_vr" value="<% if (redeem_code) {%><%=redeem_code%>%><%}%>" autocomplete="off" required></input>
            <label for="GC">Redeem Gift Code</label>

            <button type="submit" class="btn btn-secondary mt-2" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Redeem Code</button>
            <div class="w-fit m-auto">
              <div class="hidden" id="gcSpinner" role="status">
                  <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </form>
        </div>
        <div class="flex flex-wrap gap-2 m-auto w-min md:w-fit mt-4"><% if (t) { t.forEach((elm) => {%>
            <div class="border-2 border-black bg-zinc-300 dark:bg-zinc-700 dark:text-white rounded m-auto p-4 text-center">
                <h4>Receipt ID: <span class="font-bold"><%=elm.receipt%></span></h4>
                <h4>Plan: <span class="font-bold"><% if (elm.pro) {%>Pro<%}%><% if (elm.subdomain) {%>Subdomain<%}%><% if (elm.credit) {%>Credits<%}%><% if (elm.badge) {%><%=elm.receipt.split('-')[1]%><%}%></span></h4><% if (elm.gift) {%>
                <h4>Gifed for: <span class="font-bold"><% if (elm.user) {%><a class="hover:text-current hover:underline hover:cursor-pointer" href="/<%=elm.user.name%>" target="__blank"><%=elm.user.name%></a><%} else {%>Not Gifted Yet...<%}%></span></h4><%}%>
                <h4>Purchase Amount: <span class="font-bold">$<%=parseInt(elm.amount).toLocaleString('en-US')%></span></h4>
                <h4>Purchase Date: <span class="font-bold"><time data-time="<%=new Date(elm.date).valueOf()%>"></time></span></h4><% if (!elm.credit && !elm.badge) {%><% let difference = elm.valid_until.getTime() - new Date().getTime(); let daysleft = Math.ceil(difference / (1000 * 3600 * 24)); %>
                <h4>Days left: <span class="font-bold" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="<%=elm.valid_until%>"><% if (daysleft > 0 && elm.valid) {%><%=daysleft.toLocaleString('en-US');%><%} else {%>Expired<%}%></span></h4><%}%><% if (!elm.user && elm.gift_from) {%>
                <div class="w-fit m-auto mt-1">
                    <button type="button" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;" data-bs-toggle="modal" data-bs-target="#gift-<%=elm.uuid%>">Gift To Someone</button>
                </div><%}%>
            </div><% if (!elm.user && elm.gift_from) {%>
            
            <form id="<%=elm.uuid%>-form">
                <div class="modal fade" id="gift-<%=elm.uuid%>" tabindex="-1" aria-labelledby="giftModalLabel-<%=elm.uuid%>" aria-hidden="true">
                    <div class="modal-dialog my-8 md:my-2">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-black" id="editModalLabel">Gift <%=elm.receipt%> <svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="16" height="16" fill="currentColor" class="bi bi-pencil-square inline-flex" viewBox="0 0 16 16"> <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/> <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg></h5>
                        <button type="button" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg></button>
                      </div>
                      <div class="modal-body text-black">
                        <div id="errorRec-<%=elm.uuid%>" class="" role="alert" style="max-width: max-content; margin: auto;"></div>
                        <div class="form-row align-items-center">
                          <div class="form-row align-items-center">
                            <div class="col-auto" style="width: 75%; margin: auto;"><% if (!elm.badge) {%>
                                <div class="form-floating mb-2 break-all">
                                    <input type="text" class="form-control" placeholder="Username" id="Username" name="name_vr" autocomplete="off" required></input>
                                    <label for="Username">Username</label>
                                </div><%}%>
                                <div><h2 class="w-fit m-auto text-center">Gift Code: <span class="font-bold"><%=elm.uuid%></span></h2></div>
                            </div>
                          </div>
                          <div class="w-fit m-auto">
                            <div class="hidden" id="Recspinner-<%=elm.uuid%>" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" style="background-color: rgb(121, 121, 133); border-color: black; border-width: .5px;" data-bs-dismiss="modal">Close</button><% if (!elm.badge) {%>
                            <button type="submit" class="btn btn-secondary" style="background-color: rgb(51, 136, 157); border-color: black; border-width: .5px;">Save changes</button><%}%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </form><%}%><%})} else {%><h1 class="text-2xl dark:text-white">No previous transactions found. . .</h1><%}%>
        </div><br><br>
    </div>
    <script defer>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        $('time').each(function (e) {
            time = parseInt($(this).attr('data-time'));
            time = new Date(time).toLocaleString();
            $(this).html(time);
        });<% if (t) { t.forEach((elm) => {%>
        $('#<%=elm.uuid%>-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));
            let d = document.getElementById('UN-<%=elm.uuid%>');
            let av = document.getElementById('Recspinner-<%=elm.uuid%>');

            av.setAttribute('class', 'm-auto spinner-border');
            fetch('/api/v1/account/purchases/gift/<%=elm.receipt%>', { method: 'post', body: formData }).then((r)=>r.json()).then((w)=>{
              $('#errorRec-<%=elm.uuid%>').text('');
              $('#errorRec-<%=elm.uuid%>').toggleClass(false);
              av.setAttribute('class', 'hidden');
              if (w.OK) {
                $('#errorRec-<%=elm.uuid%>').text(w.text);
                $('#errorRec-<%=elm.uuid%>').addClass('alert alert-success my-1');
              } else {
                $('#errorRec-<%=elm.uuid%>').text(w.error);
                $('#errorRec-<%=elm.uuid%>').addClass('alert alert-danger my-1');
              }
            }).catch(e => {
              console.log(e);
              $('#errorRec-<%=elm.uuid%>').text(e);
              $('#errorRec-<%=elm.uuid%>').addClass('alert alert-danger my-1');
            });
        });<%})};%>

        $('#redeem-form').submit(function (e) {
            e.preventDefault();
            const formData = new URLSearchParams(new FormData(this));
            let d = document.getElementById('GC');
            let av = document.getElementById('gcSpinner');

            av.setAttribute('class', 'm-auto spinner-border mt-2');
            fetch(`/api/v1/redeem/${d.value}`, { method: 'get' }).then((r)=>r.json()).then((w)=>{
              $('#errorGC').text('');
              $('#errorGC').toggleClass(false);
              av.setAttribute('class', 'hidden');
              if (w.OK) {
                $('#errorGC').text(w.text);
                $('#errorGC').addClass('alert alert-success my-1');
              } else {
                $('#errorGC').text(w.error);
                $('#errorGC').addClass('alert alert-danger my-1');
              }
            }).catch(e => {
              console.log(e);
              $('#errorGC').text(e);
              $('#errorGC').addClass('alert alert-danger my-1');
            });
        });
    </script>
</body>
</html>